html {
  overflow-y: scroll;
}

*, body, html {
  box-sizing: border-box !important;
}

@import '../../node_modules/@glidejs/glide/dist/css/glide.core.min.css';

.glide__slides {
  overflow: visible;
}

.breadcrumb {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.breadcrumb [aria-current="page"]{
  font-weight: 300;
}

.breadcrumb__separator {
  font-size: 1.75rem;
  color: #59b325;
  margin-top: -3px;
  padding-left: 4px;
}

.breadcrumb__list {
  align-items: center;
}
.breadcrumb__item {
  display: flex;
  flex-wrap: wrap;
}